In [62]:
import requests
import json
import pandas as pd
import numpy as np

In [2]:
token = '61b0de5e-5006-0203-de71-d778b72cc02d'

In [3]:
def url_to_df(url: str, token: str, main_col_name: str):
    """This function receives the INEGI API url, and the token,
    makes the petition and if the response is 200, then json_to_df
    is called and the response json is passed. The df is returned."""
    res = requests.get(url.replace('[Aquí va tu Token]', token))
    if res.status_code == 200:
        df = json_to_df(res.json(), main_col_name)
        return df
    return None

def json_to_df(response_json, main_col_name):
    df = pd.json_normalize(response_json['Series'][0]['OBSERVATIONS'])
    df = df[['TIME_PERIOD', 'OBS_VALUE']].rename(columns={'OBS_VALUE': main_col_name, 'TIME_PERIOD': 'year'}, inplace=False)
    return df

In [4]:
nacimientos_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000026/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
defunciones_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000030/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
matrimonios_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000038/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
divorcios_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000039/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
poblacion_total_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000001/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
homicidios_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/6300000264/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
porcentaje_pib_educacion_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/6207067825/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
suicidios_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/6200240338/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
median_age_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000010/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'

In [5]:
nacimientos = url_to_df(nacimientos_url, token, 'nacimientos')
defunciones = url_to_df(defunciones_url, token, 'defunciones')
matrimonios = url_to_df(matrimonios_url, token, 'matrimonios')
divorcios = url_to_df(divorcios_url, token, 'divorcios')
poblacion_total = url_to_df(poblacion_total_url, token, 'poblacion_total')
porcentaje_pib_educacion = url_to_df(porcentaje_pib_educacion_url, token, 'porcentaje_pib_educacion')
homicidios_total = url_to_df(homicidios_url, token, 'homicidios_total')
suicidios = url_to_df(suicidios_url, token, 'suicidios')
median_age = url_to_df(median_age_url, token, 'median_age')

In [6]:
(
    pd.merge(right=nacimientos ,left=defunciones ,how='inner', left_on='year', right_on='year')
    .merge(right=matrimonios, left_on='year',right_on='year')
    .merge(right=divorcios, left_on='year',right_on='year')
    .merge(right=poblacion_total, left_on='year',right_on='year', how='left')
    .merge(right=porcentaje_pib_educacion, left_on='year',right_on='year', how='left')
    .merge(right=homicidios_total, left_on='year',right_on='year', how='left')
    .merge(right=suicidios, left_on='year',right_on='year', how='left')
    .merge(right=median_age, left_on='year',right_on='year', how='left')
)

,year,defunciones,nacimientos,matrimonios,divorcios,poblacion_total,porcentaje_pib_educacion,homicidios_total,suicidios,median_age
0,1994,419074.00000000000000000000,2904389.00000000000000000000,671640.00000000000000000000,35029.00000000000000000000,NaN,4.34143060992847300000,15839.00000000000000000000,2603.00000000000000000000,NaN
1,1995,430278.00000000000000000000,2750444.00000000000000000000,658114.00000000000000000000,37455.00000000000000000000,91158290.00000000000000000000,3.89854368974041500000,15612.00000000000000000000,2894.00000000000000000000,21.00000000000000000000
2,1996,436321.00000000000000000000,2707718.00000000000000000000,670523.00000000000000000000,38545.00000000000000000000,NaN,4.76065648725909100000,14505.00000000000000000000,3020.00000000000000000000,NaN
3,1997,440437.00000000000000000000,2698425.00000000000000000000,707840.00000000000000000000,40792.00000000000000000000,NaN,4.74841035663127800000,13552.00000000000000000000,3370.00000000000000000000,NaN
4,1998,444665.00000000000000000000,2668428.00000000000000000000,704456.00000000000000000000,45889.00000000000000000000,NaN,5.12610592286309500000,13656.00000000000000000000,3342.00000000000000000000,NaN
5,1999,443950.00000000000000000000,2769089.00000000000000000000,743856.00000000000000000000,49271.00000000000000000000,NaN,5.23157756794237400000,12249.00000000000000000000,3339.00000000000000000000,NaN
6,2000,437667.00000000000000000000,2798339.00000000000000000000,707422.00000000000000000000,52358.00000000000000000000,97483412.00000000000000000000,5.27441171026473700000,10737.00000000000000000000,3475.00000000000000000000,22.00000000000000000000
7,2001,443127.00000000000000000000,2767610.00000000000000000000,665434.00000000000000000000,57370.00000000000000000000,NaN,5.58303511044891200000,10285.00000000000000000000,3811.00000000000000000000,NaN
8,2002,459687.00000000000000000000,2699084.00000000000000000000,616654.00000000000000000000,60641.00000000000000000000,NaN,5.89349897839958600000,10088.00000000000000000000,3871.00000000000000000000,NaN
9,2003,472140.00000000000000000000,2655894.00000000000000000000,584142.00000000000000000000,64248.00000000000000000000,NaN,6.29206322175780000000,10087.00000000000000000000,4104.00000000000000000000,NaN
10,2004,473417.00000000000000000000,2625056.00000000000000000000,600563.00000000000000000000,67575.00000000000000000000,NaN,6.05370506232919500000,9329.00000000000000000000,4117.00000000000000000000,NaN
11,2005,495240.00000000000000000000,2567906.00000000000000000000,595713.00000000000000000000,70184.00000000000000000000,103263388.00000000000000000000,6.22608298454570350000,9921.00000000000000000000,4314.00000000000000000000,24.00000000000000000000
12,2006,494471.00000000000000000000,2505939.00000000000000000000,586978.00000000000000000000,72396.00000000000000000000,NaN,6.07533633670553500000,10452.00000000000000000000,4277.00000000000000000000,NaN
13,2007,514420.00000000000000000000,2655083.00000000000000000000,595209.00000000000000000000,77255.00000000000000000000,NaN,6.03659781107148500000,8867.00000000000000000000,4394.00000000000000000000,NaN
14,2008,539530.00000000000000000000,2636110.00000000000000000000,589352.00000000000000000000,81851.00000000000000000000,NaN,6.16992442433914300000,14006.00000000000000000000,4681.00000000000000000000,NaN
15,2009,564673.00000000000000000000,2577214.00000000000000000000,558913.00000000000000000000,84302.00000000000000000000,NaN,6.71702145310239100000,19803.00000000000000000000,5190.00000000000000000000,NaN
16,2010,592018.00000000000000000000,2643908.00000000000000000000,568632.00000000000000000000,86042.00000000000000000000,112336538.00000000000000000000,6.59952581017279450000,25757.00000000000000000000,5012.00000000000000000000,26.00000000000000000000
17,2011,590693.00000000000000000000,2586287.00000000000000000000,570954.00000000000000000000,91285.00000000000000000000,NaN,6.51979028985973700000,27213.00000000000000000000,5718.00000000000000000000,NaN
18,2012,602354.00000000000000000000,2498880.00000000000000000000,585434.00000000000000000000,99509.00000000000000000000,NaN,6.48049296502569400000,25967.00000000000000000000,5549.00000000000000000000,NaN
19,2013,623599.00000000000000000000,2478889.00000000000000000000,583264.00000000000000000000,108727.00000000000000000000,NaN,6.65249652780913600000,23063.00000000000000000000,5909.00000000000000000000,NaN
20,2014,633641.00000000000000000000,2463420.00000000000000000000,577713.00000000000000000000,113478.00000000000000000000,NaN,6.86233049538671200000,20010.00000000000000000000,6337.00000000000000000000,NaN
21,2015,655688.00000000000000000000,2353596.00000000000000000000,558022.00000000000000000000,123883.00000000000000000000,119938473.00000000000000000000,6.73728350461269300000,20762.00000000000000000000,6425.00000000000000000000,26.92254600000000000000
22,2016,685766.00000000000000000000,2293708.00000000000000000000,543749.00000000000000000000,139807.00000000000000000000,NaN,6.48455026852786300000,24559.00000000000000000000,6370.00000000000000000000,NaN
23,2017,703047.00000000000000000000,2234039.00000000000000000000,528678.00000000000000000000,147581.00000000000000000000,NaN,5.91826554694210200000,32079.00000000000000000000,6559.00000000000000000000,NaN
24,2018,722611.00000000000000000000,2162535.00000000000000000000,501298.00000000000000000000,156556.00000000000000000000,NaN,NaN,36685.00000000000000000000,6808.00000000000000000000,NaN
25,2019,747784.00000000000000000000,2092214.00000000000000000000,504923.00000000000000000000,160107.00000000000000000000,NaN,NaN,36661.00000000000000000000,7223.00000000000000000000,NaN
26,2020,1086743.00000000000000000000,1629211.00000000000000000000,335563.00000000000000000000,92739.00000000000000000000,126014024.00000000000000000000,NaN,36773.00000000000000000000,7896.00000000000000000000,29.00000000000000000000
27,2021,1122249.00000000000000000000,1912178.00000000000000000000,453085.00000000000000000000,149675.00000000000000000000,NaN,NaN,35700.00000000000000000000,8432.00000000000000000000,NaN
28,2022,847716.00000000000000000000,1891388.00000000000000000000,507052.00000000000000000000,166766.00000000000000000000,NaN,NaN,33287.00000000000000000000,8239.00000000000000000000,NaN

### Crecimiento poblacional en México

Cambio de población total
Población por estado
Edad media de población

Set de datas del banco mundial

In [7]:
pre = pd.read_csv('datasets/API_MEX_DS2_en_csv_v2_32388.csv', skiprows=[0,1,2,3]).drop(['Country Code', 'Country Name', '2023', 'Unnamed: 68'], axis=1)

In [8]:
pre.head()

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Intentional homicides, female (per 100,000 fem...",VC.IHR.PSRC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.423447,3.972907,3.885846,4.534932,5.469392,5.924644,6.092515,6.143375,6.171259,NaN
1,Battle-related deaths (number of people),VC.BTL.DETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Voice and Accountability: Percentile Rank,VA.PER.RNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.051643,48.768475,44.334976,43.842365,42.857143,45.631069,45.893719,44.927536,43.961353,42.028984
3,Transport services (% of commercial service ex...,TX.VAL.TRAN.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.743973,16.970192,16.621786,15.260647,14.625960,15.362666,14.250811,18.474154,14.094799,12.823647
4,"Computer, communications and other services (%...",TX.VAL.OTHR.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.111100,18.012572,18.038976,18.215565,17.815778,17.739717,17.381470,25.280193,22.236580,19.046960

set de datos INEGI

In [33]:
db = pd.read_excel('datasets/estructura_00.xlsx')

In [34]:
db = db.query("desc_municipio == 'Estatal' ")

In [28]:
indicadores = [
    "Población total",
    "Edad mediana",
    "Población de 0 a 4 años",
    "Población de 5 a 9 años",
    "Población de 10 a 14 años",
    "Población de 15 a 19 años",
    "Población de 20 a 24 años",
    "Población de 25 a 29 años",
    "Población de 30 a 34 años",
    "Población de 35 a 39 años",
    "Población de 40 a 44 años",
    "Población de 45 a 49 años",
    "Población de 50 a 54 años",
    "Población de 55 a 59 años",
    "Población de 60 a 64 años",
    "Población de 65 a 69 años",
    "Población de 70 a 74 años",
    "Población de 75 a 79 años",
    "Población de 80 a 84 años",
    "Población de 85 a 89 años",
    "Población de 90 a 94 años",
    "Población de 95 a 99 años",
    "Población de 100 años y más"
]

In [35]:
db = db.query('indicador in @indicadores')

In [30]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 736 entries, 136 to 324996
Data columns (total 51 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cve_entidad     736 non-null    int64
 1   desc_entidad    736 non-null    object
 2   cve_municipio   736 non-null    int64
 3   desc_municipio  736 non-null    object
 4   id_indicador    736 non-null    int64
 5   indicador       736 non-null    object
 6   1900            0 non-null      object
 7   1910            31 non-null     float64
 8   1921            32 non-null     float64
 9   1930            32 non-null     float64
 10  1940            32 non-null     float64
 11  1950            32 non-null     float64
 12  1960            32 non-null     float64
 13  1970            32 non-null     float64
 14  1980            32 non-null     float64
 15  1990            704 non-null    float64
 16  1991            0 non-null      float64
 17  1992            0 non-null      float64
 18  1993            0 non-null      float64
 19  1994            0 non-null      float64
 20  1995            736 non-null    object
 21  1996            0 non-null      float64
 22  1997            0 non-null      float64
 23  1998            0 non-null      float64
 24  1999            0 non-null      float64
 25  2000            736 non-null    object
 26  2001            0 non-null      float64
 27  2002            0 non-null      float64
 28  2003            0 non-null      float64
 29  2004            0 non-null      float64
 30  2005            736 non-null    float64
 31  2006            0 non-null      float64
 32  2007            0 non-null      float64
 33  2008            0 non-null      float64
 34  2009            0 non-null      float64
 35  2010            736 non-null    float64
 36  2011            0 non-null      float64
 37  2012            0 non-null      float64
 38  2013            0 non-null      float64
 39  2014            0 non-null      float64
 40  2015            64 non-null     object
 41  2016            0 non-null      float64
 42  2017            0 non-null      float64
 43  2018            0 non-null      float64
 44  2019            0 non-null      float64
 45  2020            736 non-null    float64
 46  2021            0 non-null      float64
 47  2030            0 non-null      float64
 48  2040            0 non-null      float64
 49  2050            0 non-null      float64
 50  unidad_medida   736 non-null    object
dtypes: float64(40), int64(3), object(8)
memory usage: 299.0+ KB

In [42]:
#Seleccionamos las 'columnas a ocupar por el momento'
#utilizamos lo censos con todos lo datos disponibles
db = db.loc[:,['desc_entidad', 'indicador','1995','2000','2005','2010','2020']]

In [55]:
db.head()

,desc_entidad,indicador,1995,2000,2005,2010,2020
136,Aguascalientes,Población total,862720,944285,1065416.0,1184996.0,1425607.0
145,Aguascalientes,Edad mediana,19,21,23.0,24.0,27.0
152,Aguascalientes,Población de 0 a 4 años,112429,116137,118536.0,121557.0,124430.0
155,Aguascalientes,Población de 10 a 14 años,104083,108532,120280.0,123806.0,129717.0
158,Aguascalientes,Población de 100 años y más,59,102,98.0,109.0,112.0

In [44]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 736 entries, 136 to 324996
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   desc_entidad  736 non-null    object
 1   indicador     736 non-null    object
 2   1995          736 non-null    object
 3   2000          736 non-null    object
 4   2005          736 non-null    float64
 5   2010          736 non-null    float64
 6   2020          736 non-null    float64
dtypes: float64(3), object(4)
memory usage: 46.0+ KB

In [56]:
#Change the df from a wide format to a long format
df_melted = db.melt(id_vars=['desc_entidad', 'indicador'], value_vars=['1995', '2000', '2005', '2010', '2020'], var_name='Year', value_name='Value')

In [57]:
df_melted

        desc_entidad                    indicador  Year    Value
0     Aguascalientes              Población total  1995   862720
1     Aguascalientes                 Edad mediana  1995       19
2     Aguascalientes      Población de 0 a 4 años  1995   112429
3     Aguascalientes    Población de 10 a 14 años  1995   104083
4     Aguascalientes  Población de 100 años y más  1995       59
...              ...                          ...   ...      ...
3675       Zacatecas    Población de 75 a 79 años  2020  26357.0
3676       Zacatecas    Población de 80 a 84 años  2020  18058.0
3677       Zacatecas    Población de 85 a 89 años  2020  10975.0
3678       Zacatecas    Población de 90 a 94 años  2020   4569.0
3679       Zacatecas    Población de 95 a 99 años  2020   1723.0

[3680 rows x 4 columns]

In [59]:
df_pivoted = df_melted.pivot(columns='indicador', values='Value', index=['desc_entidad','Year'])

In [60]:
df_pivoted

indicador           Edad mediana Población de 0 a 4 años  \
desc_entidad   Year
Aguascalientes 1995           19                  112429
               2000           21                  116137
               2005         23.0                118536.0
               2010         24.0                121557.0
               2020         27.0                124430.0
...                          ...                     ...
Zacatecas      1995           20                  160610
               2000           21                  156356
               2005         23.0                143830.0
               2010         25.0                152037.0
               2020         28.0                151745.0

indicador           Población de 10 a 14 años Población de 100 años y más  \
desc_entidad   Year
Aguascalientes 1995                    104083                          59
               2000                    108532                         102
               2005                  120280.0                        98.0
               2010                  123806.0                       109.0
               2020                  129717.0                       112.0
...                                       ...                         ...
Zacatecas      1995                    173536                         192
               2000                    171383                         260
               2005                  156277.0                       267.0
               2010                  152154.0                       253.0
               2020                  151355.0                       239.0

indicador           Población de 15 a 19 años Población de 20 a 24 años  \
desc_entidad   Year
Aguascalientes 1995                     97061                     88901
               2000                     99577                     87508
               2005                  107007.0                   93139.0
               2010                  121428.0                  106305.0
               2020                  131967.0                  127020.0
...                                       ...                       ...
Zacatecas      1995                    159590                    126861
               2000                    145464                    119820
               2005                  145349.0                  112509.0
               2010                  150499.0                  131079.0
               2020                  141208.0                  130238.0

indicador           Población de 25 a 29 años Población de 30 a 34 años  \
desc_entidad   Year
Aguascalientes 1995                     71839                     62217
               2000                     79200                     70317
               2005                   83073.0                   82651.0
               2010                   93604.0                   88726.0
               2020                  118426.0                  106825.0
...                                       ...                       ...
Zacatecas      1995                     98409                     84527
               2000                    101757                     91476
               2005                   99137.0                   97454.0
               2010                  107817.0                  105427.0
               2020                  117673.0                  114442.0

indicador           Población de 35 a 39 años Población de 40 a 44 años  ...  \
desc_entidad   Year                                                      ...
Aguascalientes 1995                     52549                     40131  ...
               2000                     60839                     49365  ...
               2005                   73006.0                   61553.0  ...
               2010                   86254.0                   73084.0  ...
               2020                   99257.0                   92378.0  ...
...                                       ...                       ...  ...
Zacatecas      1995                     73092                     55923  ...
               2000                     79770                     64510  ...
               2005                   89531.0                   76065.0  ...
               2010                  101327.0                   88979.0  ...
               2020                  104728.0                  102682.0  ...

indicador           Población de 55 a 59 años Población de 60 a 64 años  \
desc_entidad   Year
Aguascalientes 1995                     17646                     15900
               2000                     22094                     17759
               2005                   29196.0                   23168.0
               2010                   37543.0                   29258.0
               2020                   58865.0                   48306.0
...                                       ...                       ...
Zacatecas      1995                     34251                     32177
               2000                     37283                     33857
               2005                   40637.0                   37993.0
               2010                   47741.0                   41090.0
               2020                   69401.0                   58039.0

indicador           Población de 65 a 69 años Población de 70 a 74 años  \
desc_entidad   Year
Aguascalientes 1995                     11870                      9452
               2000                     13752                     10714
               2005                   16290.0                   12912.0
               2010                   21004.0                   15254.0
               2020                   35823.0                   25586.0
...                                       ...                       ...
Zacatecas      1995                     24586                     19451
               2000                     27493                     22021
               2005                   30335.0                   24798.0
               2010                   34106.0                   29225.0
               2020                   44719.0                   35100.0

indicador           Población de 75 a 79 años Población de 80 a 84 años  \
desc_entidad   Year
Aguascalientes 1995                      5771                      3892
               2000                      7754                      4336
               2005                    9203.0                    6155.0
               2010                   10673.0                    7228.0
               2020                   16581.0                   10186.0
...                                       ...                       ...
Zacatecas      1995                     11604                      8671
               2000                     15781                      8519
               2005                   18430.0                   12212.0
               2010                   21022.0                   13941.0
               2020                   26357.0                   18058.0

indicador           Población de 85 a 89 años Población de 90 a 94 años  \
desc_entidad   Year
Aguascalientes 1995                      2428                       975
               2000                      2726                      1169
               2005                    3140.0                    1302.0
               2010                    4061.0                    1467.0
               2020                    5576.0                    2410.0
...                                       ...                       ...
Zacatecas      1995                      5504                      2355
               2000                      5780                      2522
               2005                    6230.0                    2572.0
               2010                    8507.0                    2832.0
               2020                   10975.0                    4569.0

indicador           Población de 95 a 99 años Población total
desc_entidad   Year
Aguascalientes 1995                       380          862720
               2000                       542          944285
               2005                     503.0       1065416.0
               2010                     551.0       1184996.0
               2020                     796.0       1425607.0
...                                       ...             ...
Zacatecas      1995                       933         1336496
               2000                      1331         1353610
               2005                    1188.0       1367692.0
               2010                    1176.0       1490668.0
               2020                    1723.0       1622138.0

[160 rows x 23 columns]

In [84]:
#Set the correct data type
df_temp = df_pivoted.astype(np.int64)

In [85]:
#Renombrar los nombres del índice y columnas
df_temp = df_temp.rename_axis(index={'desc_entidad': 'Estado'},columns={'indicador':'Indicador'})

In [89]:
#Reordenar las columnas
df_temp.columns
df_temp.columns = ['Edad mediana', 'Población de 0 a 4 años', 'Población de 5 a 9 años',
                     'Población de 10 a 14 años','Población de 15 a 19 años',
                     'Población de 20 a 24 años', 'Población de 25 a 29 años',
                     'Población de 30 a 34 años', 'Población de 35 a 39 años',
                     'Población de 40 a 44 años', 'Población de 45 a 49 años', 
                     'Población de 50 a 54 años','Población de 55 a 59 años', 
                     'Población de 60 a 64 años','Población de 65 a 69 años', 
                     'Población de 70 a 74 años','Población de 75 a 79 años', 
                     'Población de 80 a 84 años','Población de 85 a 89 años', 
                     'Población de 90 a 94 años','Población de 95 a 99 años', 
                     'Población de 100 años y más','Población total']

In [90]:
df_temp

                     Edad mediana  Población de 0 a 4 años  \
Estado         Year
Aguascalientes 1995            19                   112429
               2000            21                   116137
               2005            23                   118536
               2010            24                   121557
               2020            27                   124430
...                           ...                      ...
Zacatecas      1995            20                   160610
               2000            21                   156356
               2005            23                   143830
               2010            25                   152037
               2020            28                   151745

                     Población de 5 a 9 años  Población de 10 a 14 años  \
Estado         Year
Aguascalientes 1995                   104083                         59
               2000                   108532                        102
               2005                   120280                         98
               2010                   123806                        109
               2020                   129717                        112
...                                      ...                        ...
Zacatecas      1995                   173536                        192
               2000                   171383                        260
               2005                   156277                        267
               2010                   152154                        253
               2020                   151355                        239

                     Población de 15 a 19 años  Población de 20 a 24 años  \
Estado         Year
Aguascalientes 1995                      97061                      88901
               2000                      99577                      87508
               2005                     107007                      93139
               2010                     121428                     106305
               2020                     131967                     127020
...                                        ...                        ...
Zacatecas      1995                     159590                     126861
               2000                     145464                     119820
               2005                     145349                     112509
               2010                     150499                     131079
               2020                     141208                     130238

                     Población de 25 a 29 años  Población de 30 a 34 años  \
Estado         Year
Aguascalientes 1995                      71839                      62217
               2000                      79200                      70317
               2005                      83073                      82651
               2010                      93604                      88726
               2020                     118426                     106825
...                                        ...                        ...
Zacatecas      1995                      98409                      84527
               2000                     101757                      91476
               2005                      99137                      97454
               2010                     107817                     105427
               2020                     117673                     114442

                     Población de 35 a 39 años  Población de 40 a 44 años  \
Estado         Year
Aguascalientes 1995                      52549                      40131
               2000                      60839                      49365
               2005                      73006                      61553
               2010                      86254                      73084
               2020                      99257                      92378
...                                        ...                        ...
Zacatecas      1995                      73092                      55923
               2000                      79770                      64510
               2005                      89531                      76065
               2010                     101327                      88979
               2020                     104728                     102682

                     ...  Población de 60 a 64 años  \
Estado         Year  ...
Aguascalientes 1995  ...                      17646
               2000  ...                      22094
               2005  ...                      29196
               2010  ...                      37543
               2020  ...                      58865
...                  ...                        ...
Zacatecas      1995  ...                      34251
               2000  ...                      37283
               2005  ...                      40637
               2010  ...                      47741
               2020  ...                      69401

                     Población de 65 a 69 años  Población de 70 a 74 años  \
Estado         Year
Aguascalientes 1995                      15900                      11870
               2000                      17759                      13752
               2005                      23168                      16290
               2010                      29258                      21004
               2020                      48306                      35823
...                                        ...                        ...
Zacatecas      1995                      32177                      24586
               2000                      33857                      27493
               2005                      37993                      30335
               2010                      41090                      34106
               2020                      58039                      44719

                     Población de 75 a 79 años  Población de 80 a 84 años  \
Estado         Year
Aguascalientes 1995                       9452                       5771
               2000                      10714                       7754
               2005                      12912                       9203
               2010                      15254                      10673
               2020                      25586                      16581
...                                        ...                        ...
Zacatecas      1995                      19451                      11604
               2000                      22021                      15781
               2005                      24798                      18430
               2010                      29225                      21022
               2020                      35100                      26357

                     Población de 85 a 89 años  Población de 90 a 94 años  \
Estado         Year
Aguascalientes 1995                       3892                       2428
               2000                       4336                       2726
               2005                       6155                       3140
               2010                       7228                       4061
               2020                      10186                       5576
...                                        ...                        ...
Zacatecas      1995                       8671                       5504
               2000                       8519                       5780
               2005                      12212                       6230
               2010                      13941                       8507
               2020                      18058                      10975

                     Población de 95 a 99 años  Población de 100 años y más  \
Estado         Year
Aguascalientes 1995                        975                          380
               2000                       1169                          542
               2005                       1302                          503
               2010                       1467                          551
               2020                       2410                          796
...                                        ...                          ...
Zacatecas      1995                       2355                          933
               2000                       2522                         1331
               2005                       2572                         1188
               2010                       2832                         1176
               2020                       4569                         1723

                     Población total
Estado         Year
Aguascalientes 1995           862720
               2000           944285
               2005          1065416
               2010          1184996
               2020          1425607
...                              ...
Zacatecas      1995          1336496
               2000          1353610
               2005          1367692
               2010          1490668
               2020          1622138

[160 rows x 23 columns]

#### Let's create a DF with longer ranges of ages and the percentage that it represents for that given year and age range

In [82]:
df_temp['Porcentaje 0-14 años']= ((df_temp['Población de 0 a 4 años'] + df_temp['Población de 5 a 9 años'] + df_temp['Población de 10 a 14 años']) / df_temp['Población total']) * 100

In [95]:
df_temp.index

MultiIndex([( 'Aguascalientes', '1995'),
            ( 'Aguascalientes', '2000'),
            ( 'Aguascalientes', '2005'),
            ( 'Aguascalientes', '2010'),
            ( 'Aguascalientes', '2020'),
            ('Baja California', '1995'),
            ('Baja California', '2000'),
            ('Baja California', '2005'),
            ('Baja California', '2010'),
            ('Baja California', '2020'),
            ...
            (        'Yucatán', '1995'),
            (        'Yucatán', '2000'),
            (        'Yucatán', '2005'),
            (        'Yucatán', '2010'),
            (        'Yucatán', '2020'),
            (      'Zacatecas', '1995'),
            (      'Zacatecas', '2000'),
            (      'Zacatecas', '2005'),
            (      'Zacatecas', '2010'),
            (      'Zacatecas', '2020')],
           names=['Estado', 'Year'], length=160)