In [33]:
import requests
import json
import pandas as pd
import numpy as np

In [34]:
token = '61b0de5e-5006-0203-de71-d778b72cc02d'

In [35]:
def url_to_df(url: str, token: str, main_col_name: str):
    """This function receives the INEGI API url, and the token,
    makes the petition and if the response is 200, then json_to_df
    is called and the response json is passed. The df is returned."""
    res = requests.get(url.replace('[Aquí va tu Token]', token))
    if res.status_code == 200:
        df = json_to_df(res.json(), main_col_name)
        return df
    return None

def json_to_df(response_json, main_col_name):
    df = pd.json_normalize(response_json['Series'][0]['OBSERVATIONS'])
    df = df[['TIME_PERIOD', 'OBS_VALUE']].rename(columns={'OBS_VALUE': main_col_name, 'TIME_PERIOD': 'year'}, inplace=False)
    return df

In [36]:
nacimientos_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000026/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
defunciones_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000030/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
matrimonios_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000038/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
divorcios_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000039/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
poblacion_total_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000001/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
homicidios_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/6300000264/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
porcentaje_pib_educacion_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/6207067825/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
suicidios_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/6200240338/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'
median_age_url = 'https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000010/es/0700/false/BISE/2.0/[Aquí va tu Token]?type=json'

In [37]:
nacimientos = url_to_df(nacimientos_url, token, 'nacimientos')
defunciones = url_to_df(defunciones_url, token, 'defunciones')
matrimonios = url_to_df(matrimonios_url, token, 'matrimonios')
divorcios = url_to_df(divorcios_url, token, 'divorcios')
poblacion_total = url_to_df(poblacion_total_url, token, 'poblacion_total')
porcentaje_pib_educacion = url_to_df(porcentaje_pib_educacion_url, token, 'porcentaje_pib_educacion')
homicidios_total = url_to_df(homicidios_url, token, 'homicidios_total')
suicidios = url_to_df(suicidios_url, token, 'suicidios')
median_age = url_to_df(median_age_url, token, 'median_age')

In [40]:
inegi_df = (
    pd.merge(right=nacimientos ,left=defunciones ,how='inner', left_on='year', right_on='year')
    .merge(right=matrimonios, left_on='year',right_on='year')
    .merge(right=divorcios, left_on='year',right_on='year')
    .merge(right=homicidios_total, left_on='year',right_on='year', how='left')
    .merge(right=suicidios, left_on='year',right_on='year', how='left')
)

In [46]:
inegi_df.replace('.00000000000000000000','',regex=True, inplace=True)

In [48]:
inegi_df.head()

,year,defunciones,nacimientos,matrimonios,divorcios,homicidios_total,suicidios
0,1994,419074,2904389,671640,35029,15839,2603
1,1995,430278,2750444,658114,37455,15612,2894
2,1996,436321,2707718,670523,38545,14505,3020
3,1997,440437,2698425,707840,40792,13552,3370
4,1998,444665,2668428,704456,45889,13656,3342

### Crecimiento poblacional en México

Cambio de población total
Población por estado
Edad media de población

Set de datas del banco mundial

In [2]:
pre = pd.read_csv('datasets/API_MEX_DS2_en_csv_v2_32388.csv', skiprows=[0,1,2,3]).drop(['Country Code', 'Country Name', '2023', 'Unnamed: 68'], axis=1)

In [3]:
pre.head()

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Intentional homicides, female (per 100,000 fem...",VC.IHR.PSRC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.423447,3.972907,3.885846,4.534932,5.469392,5.924644,6.092515,6.143375,6.171259,NaN
1,Battle-related deaths (number of people),VC.BTL.DETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Voice and Accountability: Percentile Rank,VA.PER.RNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.051643,48.768475,44.334976,43.842365,42.857143,45.631069,45.893719,44.927536,43.961353,42.028984
3,Transport services (% of commercial service ex...,TX.VAL.TRAN.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.743973,16.970192,16.621786,15.260647,14.625960,15.362666,14.250811,18.474154,14.094799,12.823647
4,"Computer, communications and other services (%...",TX.VAL.OTHR.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.111100,18.012572,18.038976,18.215565,17.815778,17.739717,17.381470,25.280193,22.236580,19.046960

set de datos INEGI

In [4]:
db = pd.read_excel('datasets/estructura_00.xlsx')

In [5]:
db = db.query("desc_municipio == 'Estatal' ")

In [6]:
indicadores = [
    "Población total",
    "Edad mediana",
    "Población de 0 a 4 años",
    "Población de 5 a 9 años",
    "Población de 10 a 14 años",
    "Población de 15 a 19 años",
    "Población de 20 a 24 años",
    "Población de 25 a 29 años",
    "Población de 30 a 34 años",
    "Población de 35 a 39 años",
    "Población de 40 a 44 años",
    "Población de 45 a 49 años",
    "Población de 50 a 54 años",
    "Población de 55 a 59 años",
    "Población de 60 a 64 años",
    "Población de 65 a 69 años",
    "Población de 70 a 74 años",
    "Población de 75 a 79 años",
    "Población de 80 a 84 años",
    "Población de 85 a 89 años",
    "Población de 90 a 94 años",
    "Población de 95 a 99 años",
    "Población de 100 años y más"
]

In [7]:
db = db.query('indicador in @indicadores')

In [8]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 736 entries, 136 to 324996
Data columns (total 51 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cve_entidad     736 non-null    int64
 1   desc_entidad    736 non-null    object
 2   cve_municipio   736 non-null    int64
 3   desc_municipio  736 non-null    object
 4   id_indicador    736 non-null    int64
 5   indicador       736 non-null    object
 6   1900            0 non-null      object
 7   1910            31 non-null     float64
 8   1921            32 non-null     float64
 9   1930            32 non-null     float64
 10  1940            32 non-null     float64
 11  1950            32 non-null     float64
 12  1960            32 non-null     float64
 13  1970            32 non-null     float64
 14  1980            32 non-null     float64
 15  1990            704 non-null    float64
 16  1991            0 non-null      float64
 17  1992            0 non-null      float64
 18  1993            0 non-null      float64
 19  1994            0 non-null      float64
 20  1995            736 non-null    object
 21  1996            0 non-null      float64
 22  1997            0 non-null      float64
 23  1998            0 non-null      float64
 24  1999            0 non-null      float64
 25  2000            736 non-null    object
 26  2001            0 non-null      float64
 27  2002            0 non-null      float64
 28  2003            0 non-null      float64
 29  2004            0 non-null      float64
 30  2005            736 non-null    float64
 31  2006            0 non-null      float64
 32  2007            0 non-null      float64
 33  2008            0 non-null      float64
 34  2009            0 non-null      float64
 35  2010            736 non-null    float64
 36  2011            0 non-null      float64
 37  2012            0 non-null      float64
 38  2013            0 non-null      float64
 39  2014            0 non-null      float64
 40  2015            64 non-null     object
 41  2016            0 non-null      float64
 42  2017            0 non-null      float64
 43  2018            0 non-null      float64
 44  2019            0 non-null      float64
 45  2020            736 non-null    float64
 46  2021            0 non-null      float64
 47  2030            0 non-null      float64
 48  2040            0 non-null      float64
 49  2050            0 non-null      float64
 50  unidad_medida   736 non-null    object
dtypes: float64(40), int64(3), object(8)
memory usage: 299.0+ KB

In [9]:
#Seleccionamos las 'columnas a ocupar por el momento'
#utilizamos lo censos con todos lo datos disponibles
db = db.loc[:,['desc_entidad', 'indicador','1995','2000','2005','2010','2020']]

In [10]:
db.head()

,desc_entidad,indicador,1995,2000,2005,2010,2020
136,Aguascalientes,Población total,862720,944285,1065416.0,1184996.0,1425607.0
145,Aguascalientes,Edad mediana,19,21,23.0,24.0,27.0
152,Aguascalientes,Población de 0 a 4 años,112429,116137,118536.0,121557.0,124430.0
155,Aguascalientes,Población de 10 a 14 años,104083,108532,120280.0,123806.0,129717.0
158,Aguascalientes,Población de 100 años y más,59,102,98.0,109.0,112.0

In [11]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 736 entries, 136 to 324996
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   desc_entidad  736 non-null    object
 1   indicador     736 non-null    object
 2   1995          736 non-null    object
 3   2000          736 non-null    object
 4   2005          736 non-null    float64
 5   2010          736 non-null    float64
 6   2020          736 non-null    float64
dtypes: float64(3), object(4)
memory usage: 46.0+ KB

In [12]:
#Change the df from a wide format to a long format
df_melted = db.melt(id_vars=['desc_entidad', 'indicador'], value_vars=['1995', '2000', '2005', '2010', '2020'], var_name='Year', value_name='Value')

In [14]:
df_melted.head(4)

     desc_entidad                  indicador  Year   Value
0  Aguascalientes            Población total  1995  862720
1  Aguascalientes               Edad mediana  1995      19
2  Aguascalientes    Población de 0 a 4 años  1995  112429
3  Aguascalientes  Población de 10 a 14 años  1995  104083

In [23]:
df_pivoted = df_melted.pivot(columns='indicador', values='Value', index=['desc_entidad','Year'])

In [16]:
df_pivoted

indicador           Edad mediana Población de 0 a 4 años  \
desc_entidad   Year
Aguascalientes 1995           19                  112429
               2000           21                  116137
               2005         23.0                118536.0
               2010         24.0                121557.0
               2020         27.0                124430.0
...                          ...                     ...
Zacatecas      1995           20                  160610
               2000           21                  156356
               2005         23.0                143830.0
               2010         25.0                152037.0
               2020         28.0                151745.0

indicador           Población de 10 a 14 años Población de 100 años y más  \
desc_entidad   Year
Aguascalientes 1995                    104083                          59
               2000                    108532                         102
               2005                  120280.0                        98.0
               2010                  123806.0                       109.0
               2020                  129717.0                       112.0
...                                       ...                         ...
Zacatecas      1995                    173536                         192
               2000                    171383                         260
               2005                  156277.0                       267.0
               2010                  152154.0                       253.0
               2020                  151355.0                       239.0

indicador           Población de 15 a 19 años Población de 20 a 24 años  \
desc_entidad   Year
Aguascalientes 1995                     97061                     88901
               2000                     99577                     87508
               2005                  107007.0                   93139.0
               2010                  121428.0                  106305.0
               2020                  131967.0                  127020.0
...                                       ...                       ...
Zacatecas      1995                    159590                    126861
               2000                    145464                    119820
               2005                  145349.0                  112509.0
               2010                  150499.0                  131079.0
               2020                  141208.0                  130238.0

indicador           Población de 25 a 29 años Población de 30 a 34 años  \
desc_entidad   Year
Aguascalientes 1995                     71839                     62217
               2000                     79200                     70317
               2005                   83073.0                   82651.0
               2010                   93604.0                   88726.0
               2020                  118426.0                  106825.0
...                                       ...                       ...
Zacatecas      1995                     98409                     84527
               2000                    101757                     91476
               2005                   99137.0                   97454.0
               2010                  107817.0                  105427.0
               2020                  117673.0                  114442.0

indicador           Población de 35 a 39 años Población de 40 a 44 años  ...  \
desc_entidad   Year                                                      ...
Aguascalientes 1995                     52549                     40131  ...
               2000                     60839                     49365  ...
               2005                   73006.0                   61553.0  ...
               2010                   86254.0                   73084.0  ...
               2020                   99257.0                   92378.0  ...
...                                       ...                       ...  ...
Zacatecas      1995                     73092                     55923  ...
               2000                     79770                     64510  ...
               2005                   89531.0                   76065.0  ...
               2010                  101327.0                   88979.0  ...
               2020                  104728.0                  102682.0  ...

indicador           Población de 55 a 59 años Población de 60 a 64 años  \
desc_entidad   Year
Aguascalientes 1995                     17646                     15900
               2000                     22094                     17759
               2005                   29196.0                   23168.0
               2010                   37543.0                   29258.0
               2020                   58865.0                   48306.0
...                                       ...                       ...
Zacatecas      1995                     34251                     32177
               2000                     37283                     33857
               2005                   40637.0                   37993.0
               2010                   47741.0                   41090.0
               2020                   69401.0                   58039.0

indicador           Población de 65 a 69 años Población de 70 a 74 años  \
desc_entidad   Year
Aguascalientes 1995                     11870                      9452
               2000                     13752                     10714
               2005                   16290.0                   12912.0
               2010                   21004.0                   15254.0
               2020                   35823.0                   25586.0
...                                       ...                       ...
Zacatecas      1995                     24586                     19451
               2000                     27493                     22021
               2005                   30335.0                   24798.0
               2010                   34106.0                   29225.0
               2020                   44719.0                   35100.0

indicador           Población de 75 a 79 años Población de 80 a 84 años  \
desc_entidad   Year
Aguascalientes 1995                      5771                      3892
               2000                      7754                      4336
               2005                    9203.0                    6155.0
               2010                   10673.0                    7228.0
               2020                   16581.0                   10186.0
...                                       ...                       ...
Zacatecas      1995                     11604                      8671
               2000                     15781                      8519
               2005                   18430.0                   12212.0
               2010                   21022.0                   13941.0
               2020                   26357.0                   18058.0

indicador           Población de 85 a 89 años Población de 90 a 94 años  \
desc_entidad   Year
Aguascalientes 1995                      2428                       975
               2000                      2726                      1169
               2005                    3140.0                    1302.0
               2010                    4061.0                    1467.0
               2020                    5576.0                    2410.0
...                                       ...                       ...
Zacatecas      1995                      5504                      2355
               2000                      5780                      2522
               2005                    6230.0                    2572.0
               2010                    8507.0                    2832.0
               2020                   10975.0                    4569.0

indicador           Población de 95 a 99 años Población total
desc_entidad   Year
Aguascalientes 1995                       380          862720
               2000                       542          944285
               2005                     503.0       1065416.0
               2010                     551.0       1184996.0
               2020                     796.0       1425607.0
...                                       ...             ...
Zacatecas      1995                       933         1336496
               2000                      1331         1353610
               2005                    1188.0       1367692.0
               2010                    1176.0       1490668.0
               2020                    1723.0       1622138.0

[160 rows x 23 columns]

In [28]:
#Set the correct data type
df_temp = df_pivoted.astype(np.int64)

In [29]:
#Renombrar los nombres del índice y columnas
df_temp = df_temp.rename_axis(index={'desc_entidad': 'Estado'},columns={'indicador':'Indicador'})

In [31]:
df_temp

Indicador            Edad mediana  Población de 0 a 4 años  \
Estado         Year
Aguascalientes 1995            19                   112429
               2000            21                   116137
               2005            23                   118536
               2010            24                   121557
               2020            27                   124430
...                           ...                      ...
Zacatecas      1995            20                   160610
               2000            21                   156356
               2005            23                   143830
               2010            25                   152037
               2020            28                   151745

Indicador            Población de 10 a 14 años  Población de 100 años y más  \
Estado         Year
Aguascalientes 1995                     104083                           59
               2000                     108532                          102
               2005                     120280                           98
               2010                     123806                          109
               2020                     129717                          112
...                                        ...                          ...
Zacatecas      1995                     173536                          192
               2000                     171383                          260
               2005                     156277                          267
               2010                     152154                          253
               2020                     151355                          239

Indicador            Población de 15 a 19 años  Población de 20 a 24 años  \
Estado         Year
Aguascalientes 1995                      97061                      88901
               2000                      99577                      87508
               2005                     107007                      93139
               2010                     121428                     106305
               2020                     131967                     127020
...                                        ...                        ...
Zacatecas      1995                     159590                     126861
               2000                     145464                     119820
               2005                     145349                     112509
               2010                     150499                     131079
               2020                     141208                     130238

Indicador            Población de 25 a 29 años  Población de 30 a 34 años  \
Estado         Year
Aguascalientes 1995                      71839                      62217
               2000                      79200                      70317
               2005                      83073                      82651
               2010                      93604                      88726
               2020                     118426                     106825
...                                        ...                        ...
Zacatecas      1995                      98409                      84527
               2000                     101757                      91476
               2005                      99137                      97454
               2010                     107817                     105427
               2020                     117673                     114442

Indicador            Población de 35 a 39 años  Población de 40 a 44 años  \
Estado         Year
Aguascalientes 1995                      52549                      40131
               2000                      60839                      49365
               2005                      73006                      61553
               2010                      86254                      73084
               2020                      99257                      92378
...                                        ...                        ...
Zacatecas      1995                      73092                      55923
               2000                      79770                      64510
               2005                      89531                      76065
               2010                     101327                      88979
               2020                     104728                     102682

Indicador            ...  Población de 80 a 84 años  \
Estado         Year  ...
Aguascalientes 1995  ...                       3892
               2000  ...                       4336
               2005  ...                       6155
               2010  ...                       7228
               2020  ...                      10186
...                  ...                        ...
Zacatecas      1995  ...                       8671
               2000  ...                       8519
               2005  ...                      12212
               2010  ...                      13941
               2020  ...                      18058

Indicador            Población de 85 a 89 años  Población de 90 a 94 años  \
Estado         Year
Aguascalientes 1995                       2428                        975
               2000                       2726                       1169
               2005                       3140                       1302
               2010                       4061                       1467
               2020                       5576                       2410
...                                        ...                        ...
Zacatecas      1995                       5504                       2355
               2000                       5780                       2522
               2005                       6230                       2572
               2010                       8507                       2832
               2020                      10975                       4569

Indicador            Población de 95 a 99 años  Población total  \
Estado         Year
Aguascalientes 1995                        380           862720
               2000                        542           944285
               2005                        503          1065416
               2010                        551          1184996
               2020                        796          1425607
...                                        ...              ...
Zacatecas      1995                        933          1336496
               2000                       1331          1353610
               2005                       1188          1367692
               2010                       1176          1490668
               2020                       1723          1622138

Indicador            Porcentaje de 0-19 años  Porcentaje de 20-39 años  \
Estado         Year
Aguascalientes 1995                48.828473                 31.934579
               2000                46.767766                 31.543867
               2005                43.734372                 31.149241
               2010                41.828411                 31.636309
               2020                36.276618                 31.672684
...                                      ...                       ...
Zacatecas      1995                49.796857                 28.648720
               2000                47.090964                 29.020397
               2005                43.450499                 29.146255
               2010                40.684445                 29.895993
               2020                36.988961                 28.794159

Indicador            Porcentaje de 40-59 años  Porcentaje de 60-79 años  \
Estado         Year
Aguascalientes 1995                 13.211703                  4.983425
               2000                 14.741524                  5.292788
               2005                 16.820097                  5.779245
               2010                 18.633396                  6.429473
               2020                 21.747438                  8.859104
...                                       ...                       ...
Zacatecas      1995                 13.497683                  6.570764
               2000                 14.573252                  7.325005
               2005                 16.805831                  8.156515
               2010                 18.325878                  8.415221
               2020                 21.786556                 10.123368

Indicador            Porcentaje de 80 y más años
Estado         Year
Aguascalientes 1995                     0.896467
               2000                     0.939865
               2005                     1.051045
               2010                     1.132156
               2020                     1.338377
...                                          ...
Zacatecas      1995                     1.320992
               2000                     1.360215
               2005                     1.642841
               2010                     1.791747
               2020                     2.192415

[160 rows x 28 columns]

#### Let's create a DF with longer ranges of ages and the percentage that it represents for that given year and age range

In [30]:
#0-19 años
df_temp['Porcentaje de 0-19 años']= (
    (
        (
            df_temp['Población de 0 a 4 años'] + 
            df_temp['Población de 5 a 9 años'] + 
            df_temp['Población de 10 a 14 años'] + 
            df_temp['Población de 15 a 19 años']
        )
    / df_temp['Población total']
    ) * 100
)

#20-39 años
df_temp['Porcentaje de 20-39 años']= (
    (
        (
            df_temp['Población de 20 a 24 años'] + 
            df_temp['Población de 25 a 29 años'] + 
            df_temp['Población de 30 a 34 años'] + 
            df_temp['Población de 35 a 39 años']
        )
    / df_temp['Población total']
    ) * 100
)
#40-59 años
df_temp['Porcentaje de 40-59 años']= (
    (
        (
            df_temp['Población de 40 a 44 años'] + 
            df_temp['Población de 45 a 49 años'] + 
            df_temp['Población de 50 a 54 años'] + 
            df_temp['Población de 55 a 59 años']
        )
    / df_temp['Población total']
    ) * 100
)
#60-79 años
df_temp['Porcentaje de 60-79 años']= (
    (
        (
            df_temp['Población de 60 a 64 años'] + 
            df_temp['Población de 65 a 69 años'] + 
            df_temp['Población de 70 a 74 años'] + 
            df_temp['Población de 75 a 79 años']
        )
    / df_temp['Población total']
    ) * 100
)
#+80 años
df_temp['Porcentaje de 80 y más años']= (
    (
        (
            df_temp['Población de 80 a 84 años'] + 
            df_temp['Población de 85 a 89 años'] + 
            df_temp['Población de 90 a 94 años'] + 
            df_temp['Población de 95 a 99 años'] +
            df_temp['Población de 100 años y más']
        )
    / df_temp['Población total']
    ) * 100
)

In [32]:
df_temp.head()

Indicador            Edad mediana  Población de 0 a 4 años  \
Estado         Year
Aguascalientes 1995            19                   112429
               2000            21                   116137
               2005            23                   118536
               2010            24                   121557
               2020            27                   124430

Indicador            Población de 10 a 14 años  Población de 100 años y más  \
Estado         Year
Aguascalientes 1995                     104083                           59
               2000                     108532                          102
               2005                     120280                           98
               2010                     123806                          109
               2020                     129717                          112

Indicador            Población de 15 a 19 años  Población de 20 a 24 años  \
Estado         Year
Aguascalientes 1995                      97061                      88901
               2000                      99577                      87508
               2005                     107007                      93139
               2010                     121428                     106305
               2020                     131967                     127020

Indicador            Población de 25 a 29 años  Población de 30 a 34 años  \
Estado         Year
Aguascalientes 1995                      71839                      62217
               2000                      79200                      70317
               2005                      83073                      82651
               2010                      93604                      88726
               2020                     118426                     106825

Indicador            Población de 35 a 39 años  Población de 40 a 44 años  \
Estado         Year
Aguascalientes 1995                      52549                      40131
               2000                      60839                      49365
               2005                      73006                      61553
               2010                      86254                      73084
               2020                      99257                      92378

Indicador            ...  Población de 80 a 84 años  \
Estado         Year  ...
Aguascalientes 1995  ...                       3892
               2000  ...                       4336
               2005  ...                       6155
               2010  ...                       7228
               2020  ...                      10186

Indicador            Población de 85 a 89 años  Población de 90 a 94 años  \
Estado         Year
Aguascalientes 1995                       2428                        975
               2000                       2726                       1169
               2005                       3140                       1302
               2010                       4061                       1467
               2020                       5576                       2410

Indicador            Población de 95 a 99 años  Población total  \
Estado         Year
Aguascalientes 1995                        380           862720
               2000                        542           944285
               2005                        503          1065416
               2010                        551          1184996
               2020                        796          1425607

Indicador            Porcentaje de 0-19 años  Porcentaje de 20-39 años  \
Estado         Year
Aguascalientes 1995                48.828473                 31.934579
               2000                46.767766                 31.543867
               2005                43.734372                 31.149241
               2010                41.828411                 31.636309
               2020                36.276618                 31.672684

Indicador            Porcentaje de 40-59 años  Porcentaje de 60-79 años  \
Estado         Year
Aguascalientes 1995                 13.211703                  4.983425
               2000                 14.741524                  5.292788
               2005                 16.820097                  5.779245
               2010                 18.633396                  6.429473
               2020                 21.747438                  8.859104

Indicador            Porcentaje de 80 y más años
Estado         Year
Aguascalientes 1995                     0.896467
               2000                     0.939865
               2005                     1.051045
               2010                     1.132156
               2020                     1.338377

[5 rows x 28 columns]